<section class="pimg1">
      <div class="ptext">
        <span class='border trans'> Welcome to Scratch Pastry where only the finest ingredients are used to create our delectable treats
        </span>
      </div>
    </section>

  <section class="section section-light">
    <div  class="panel panel-default">
      <div id="panel" class="panel-heading">
        <% if @current_user %>
        <h1>Welcome, <%= @current_user.username %></h1>
        <%= @current_user.email %>
        <% else %>
        <h1>Scratch Pastry</h1>
      <% end %>
      </div>
      <div id="panelb" class="panel-body">
        <p>Take a look at our delectable desserts</p>

        <button class="button btn"><%= link_to "View current Treats", products_path %></button>
        <% if current_user && current_user.admin %>
        <button class="button btn left"><%= link_to "Add a treat", new_product_path %></button>
        <% end %>

      </div>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class='border trans'> My Website
      </span>
    </div>
  </div>


  <section class="section section-light">
    <div class="panel panel-default">
      <div class="panel-body">

      </div>

      </div>
  </section>
