/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";

   @import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Indie%20Flower);


//responsive pictures at bottom
// figure {
//
//   overflow: hidden;
//   display: inline-block;
//   margin-bottom: 2px;
//
//   margin-right: 2px;
// }
//
// figure:nth-of-type(2n) {
//   margin-right: 0;
// }
//
@media screen and (min-width: 50em) {
  figure {
    width: calc(25% - 6px);
  }

  figure:nth-of-type(2n) {
    margin-right: 8px;
  }

  figure:nth-of-type(4n) {
    margin-right: 0;
  }
}

figure:hover img {
  transform: scale(1.15);
}

//grid
figure{
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  position: relative;
  transform: translateX(20px);
  transition: all 0.4s ease-in-out;
  opacity: 0;

  // width: auto;

}
figure #pic1{
  height: calc(100% - 15px);
  width: auto;
  display: inline-block;
  overflow: hidden;
  align-items: center;
}
.is-showing{
  opacity: 1;
  transform: translateX(0px);
}



//end of responsive pictures and bottom

//changes to entire site
   body,html{
     height: 100%;
     margin:0;
     font-size: 16px;
     font-family: "Lato", sans-serif;
     font-weight: 400;
     line-height: 1.8em;
     color:black;


   }
//navbar
.navbar-brand{
font-family: Lato;
font-size: 4vw;
overflow: hidden;
position: absolute;
color: #000;

text-shadow: 1px 2px 2px white;
}
#navtop{
  background-color: #3e2723;
  margin: auto;
  height: 100px;
  color: black;
  // background-image: url('choc.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // overflow: visible;
  box-shadow: 0 2px 5px 0 black, 0 2px 10px 0 black;

}
//end of navbar
//paralax image and section
   .pimg1{
  background-image: url('cake.jpg');
   height: 60%;
   position: relative;
   opacity: 0.50;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   z-index: -1;
   }

//panel in the center
   .section{
     font-family: Indie Flower;
     text-align: center;
     font-size: 30px;
     padding: 50px, 80px;
     position: relative;
     margin: 0;

}
#panel{
  background-color: #efebe9;
 box-shadow: 0 2px 5px 0 #AEACAB, 0 2px 8px 0 #AEACAB;
text-transform: uppercase;
font-family: "Lato";
}
#panelb{
  background-color: #8d6e63;
 box-shadow: 0 2px 5px 0 #AEACAB, 0 2px 8px 0 #AEACAB;

}

//end of panel in center
//text within the parallax image
   .ptext{
     position: absolute;
     top:50%;
     width: 100%;
     text-align: center;
     color: black;
     font-size: 27px;
     letter-spacing: 8px;
     text-transform: uppercase;

   }

   .ptext .border{
     background-color: black;
     color: black;
     padding:20px;
   }

    .ptext .border.trans{
      background-color: transparent;
    }
  //end of text within the parallax image
//end of parallax changes

//cards on product page
    @mixin BoxShadowHelper($level: 1){
      @if $level == 1 {
        box-shadow: 0 2px 5px 0 black, 0 2px 10px 0 black;
      }
      @if $level == 2 {
        box-shadow: 0 2px 5px 0 black, 0 2px 10px 0 black;
      }
    }
    a {transition: .25s all;}
    .card {
      border-radius: 20%;
      background-color: #F9F5F4;
      height: calc(100% - 15px);
       margin-bottom: 20px;
      overflow: hidden;
      align-items: center;
      @include BoxShadowHelper(1);
      transition: .25s box-shadow;
      &:focus,
      &:hover {@include BoxShadowHelper(2);}
      text-align: center;
    }
    .img{
      max-height: 100%;
      max-width: 100%;
      position: relative;
    margin: 0 auto;

    }
//end of cards on product page


    /* Set the fixed height of the footer here */

    #footer {
      height: 100px;
      margin: auto;
      width: auto;
      text-align: center;
      position: relative;
    }
    #footer {
      background-color: #3e2723;
    }

    /* Lastly, apply responsive CSS fixes as necessary */
    // @media (max-width: 767px) {
    //   #footer {
    //     margin-left: -20px;
    //     margin-right: -20px;
    //     padding-left: 20px;
    //     padding-right: 20px;
    //   }
    // }


   @media(max-width: 568px){
     .pimg1{
       background-attachment: scroll;
     }
   }
